<% content_for :head do -%>
  <%= javascript_include_tag 'jquery.product_reviews_ratings.js' %>
  <%= stylesheet_link_tag 'product_reviews_ratings.css' %>
<% end -%>

<% if logged_in? %>
<%= hidden_field(:reviews_ratings, :user_id, :value => current_user.id) %>
<%= hidden_field(:reviews_ratings, :product_id, :value => product.id) %>
<h3 id="review_and_rating">Review and Rate this Product</h3>
<p id="success"></p>
<% if 1 -%>
  <%= render :partial => 'ratings/form', :locals => { :product => product } %>
<% end -%>
<% if 1 -%>
  <%= render :partial => 'reviews/form', :locals => { :product => product } %>
<% end -%>

<% else -%>
<p>You must be logged in to ...</p>
<% end -%>
