<% content_for :head do -%>
  <%= javascript_include_tag 'jquery.product_reviews_ratings' %>
  <%= stylesheet_link_tag 'product_reviews_ratings' %>
<% end -%>

<% if current_user %>
<%= hidden_field(:reviews_ratings, :user_id, :value => current_user.id) %>
<%= hidden_field(:reviews_ratings, :product_id, :value => product.id) %>
<%= hidden_field(:reviews_ratings, :status, :value => Spree::ProductReviewsRatings::Config[:default_review_status]) %>
<h3 id="review_and_rating"><%= @review_rating_header %></h3><img id="review_loader" src="/images/ajax_loader.gif" />

<% if Spree::ProductReviewsRatings::Config[:can_rate_product] == 1 -%>
<%= render :partial => 'ratings/form', :locals => { :product => product } %>
<% end -%>
<% if Spree::ProductReviewsRatings::Config[:can_review_product] == 1 -%>
<%= render :partial => 'reviews/form', :locals => { :product => product } %>
<% end -%>
<p id="success"></p>

<% else -%>
<% session[:return_to] = request.request_uri %>
<div id="login_review_and_rating">
<h4><a href="#login_block_loc">You must be logged in to review or rate this product.</a></h4>
<a name="login_block_loc"></a>
<div id="login_block">
<%= render :partial => 'shared/login' %>
</div>
</div>
<% end -%>
