<% content_for :head do -%>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery.product_reviews_ratings' %>
  <%= stylesheet_link_tag 'product_reviews_ratings' %>
<% end -%>

<h1><%= t(:reviews_for) %> <%= @product.name %></h1>
<div class="review_right">
<%= link_to 'View and Buy ' + @product.name, '/products/' + @product.permalink %><br />
<%= product_image(@product) %>
<p><%= @product.description %></p>
</div>

<div class="review_left">
<% if Spree::ProductReviewsRatings::Config[:can_rate_product] == 1 -%>
<%= render :partial => 'ratings/average_rating', :locals => { :product => @product } -%>
<hr />
<% end -%>

<div id="product_reviews">
<% @reviews.each do |review| %>
<p
  <% if !review.rating.nil? && Spree::ProductReviewsRatings::Config[:can_rate_product] == 1 -%>
  class="rate_<%= review.rating.rating %>"
  <span></span><span></span><span></span><span></span><span></span>
  <input type="hidden" name="areview_rating" value="<%= review.rating.rating %>" />
  <% else -%>
  > 
  <% end -%>
  <b><%= review.title %></b>
  <%= review.content %>
</p>
<% end -%>
</div>
</div>

<div class="clear"></div>
