<div id="product_reviews">
<h3>Product Reviews</h3>
<% if @reviews && !@reviews.empty? -%>
<% @reviews.each do |review| -%>
  <p id="review_<%= review.user_id %>"
    <% if review.rating && Spree::ProductReviewsRatings::Config[:can_rate_product] == 1 -%>
    class="rate_<%= review.rating.rating %>"
    <span></span><span></span><span></span><span></span><span></span>
    <input type="hidden" name="areview_rating" value="<%= review.rating.rating %>" />
    <% else -%>
    >
    <% end -%>
    <b><%= review.title %></b>
    <small><%= review.created_at.strftime("%m-%d-%Y") %></small>
    <%= review.content %>
  </p>
<% end -%>
  <% if @review_count > Spree::ProductReviewsRatings::Config[:review_count] -%>
  <%= link_to 'View All Reviews for ' + product.name, '/products/' + product.permalink + '/reviews' %>
  <% end -%>
<% else -%>
  <p id="no_reviews">This product has no reviews. Be the first!</p>
<% end -%>
</div>
