<div id="reviews">
  <p>
    <label for="title"><%= t(:review_title)%></label><%= text_field :review, :title, { :value => @user_review.title } %>
  </p>
  <p>
    <label for="content"><%= t(:review_content) %></label><%= text_area(:review, :content, { :rows => 5, :cols => 40, :value => @user_review.content }) %>
  </p>
  <div id="submit"></div>
  <% if @user_review.id -%>
  <div id="delete"><%= @user_review.id %></div>
  <p id="review_alert"><%= t(:your_review_can_be_edited_or_deleted) %>  </p>
  <% end -%>
</div>
