<div id="ratings"> 
  <% content_for :head do -%>
    <%= javascript_include_tag 'jquery.product_reviews_ratings.js' %>
    <%= stylesheet_link_tag 'product_reviews_ratings.css' %>
  <% end -%>

  <% if logged_in? -%>
  <p>Review this product:</p>
  <input type="hidden" id="user_rating" value="<%= @user_rating %>" />
  <%= hidden_field(:rating, :url, :value => ratings_url) %>
  <%= hidden_field(:review, :user_id, :value => current_user.id) %>
  <%= text_field(:review, '') %>
  <%= text_field(:content, '') %>
  <div>Submit</div>
  <% else -%>
  <p><a href="/login">You must be logged in to review this product.</a></p>
  <% end -%>
</div>
